@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Role</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>
